.selectState {
  text-align: right;
  width: 20%;
}
.mat-checkbox-class {
  width: 5%;
  margin-right: 0.1em;
}
.todoTitle {
  width: 63%;
}

.todOptions {
  width: 6%;
}
.editTodo {
  display: unset;
}
